ExpiresActive On
ExpiresDefault "access"
RewriteEngine on
RewriteBase /crystaldb/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) RESTserver.php [NC,L]
RewriteRule ^$ index.html [L,QSA]
